<div class="handy-box">
    <ul>
        <ul>
            <li><a href="{{ link_blog_dashboard }}" class="icon-dashboard"><span>{{ text_blog_dashboard }}</span></a></li>
            <li><a href="{{ link_add_edit_categories }}" class="icon-category"><span>{{ text_add_edit_categories}}</span></a></li>
            <li><a href="{{ link_add_edit_articles }}" class="icon-article"><span>{{ text_add_edit_articles}}</span></a></li>
            <li><a href="{{ link_add_edit_authors }}" class="icon-author"><span>{{ text_add_edit_authors}}</span></a></li>
            <li><a href="{{ link_add_edit_comments }}" class="icon-comment"><span>{{ text_add_edit_comments}}</span></a></li>
            <li><a href="{{ link_general_settings }}" class="icon-settings"><span>{{ text_general_settings}}</span></a></li>
        </ul>
    </ul>
</div>

<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>  