{{ header }}

<div class="tt-breadcrumb">
	<div class="container">
		<ul>
	     	{% for breadcrumb in breadcrumbs %} 
	     	<li><a href="{{ breadcrumb['href'] }}">{% if (breadcrumb['text'] != '<i class="fa fa-home"></i>') %} {{ breadcrumb['text'] }} {% else %} {% if (theme_options.get( 'home_text', config.get( 'config_language_id' ) ) != '') %} {{ theme_options.get( 'home_text', config.get( 'config_language_id' ) ) }} {% else %} {{ 'Home' }} {% endif %} {% endif %}</a></li>
	     	{% endfor %} 
		</ul>
	</div>
</div>
	
{{ text }}

{{ footer }}